@use '_typography' as font;
@use 'exercise1';

header{
  background-color: black;
  height: 45px;
  padding: 25px;
  font-size: font.$font-size-h1;
  font-family: font.$font-family;
  font-weight: bold;
  text-align: center;
  align-content: center;
  color:white;
}

.title {
  font-family: font.$font-family;
  padding: 25px;

}